/* --------------------------------------------- ESTILOS BASE --------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    background: #fff;
}

header {
    height: 100px;
    width: 100%;
    background-color: #002EFF;
}

.header-container{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

.header-nav{
    position: absolute;
    width: 86px;
    height: 22px;
    left: 62%;
    top: 39px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    color: #FFFFFF;

}

.header-nav-2{
    position: absolute;
    width: 126px;
    height: 22px;
    left: 68%;
    top: 39px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/* -------------------------------------------- MAIN ------------------------------------------*/
main {
    width: 90%;
    max-width: 800px;
    margin: 25px auto;
    padding: 10px 40px;
}

.titulo {
    display: flex;
    width: 226px;
    height: 36px;
    left: 307px;
    top: 180px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #191919;
}

.linea {
    display: flex;
    border: 1px solid #CCCCCC;
    padding: 0;
    margin-top: 15px;
    width: 825px;
    height: 0px;
    left: 307px;
    top: 481.48px;
  }

.subtitulo{
    margin-top: 30px;
    width: 825px;
    height: 44px;
    left: 307px;
    top: 500px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/* -------------------------------------------- FORMULARIO ------------------------------------------*/  
.formulario{
    width: 100%;
}

.formulario__titulo-datos-vendedor{
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 22px;
    left: 309px;
    top: 319.48px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #002EFF;
    
}

.formulario__titulo-datos-vehiculo{
    display: flex;
    width: 148px;
    height: 22px;
    left: 309px;
    top: 521.47px;
    margin-top: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #002EFF;
}

.formulario__label {
    display: flex;
    margin-top: 15px;
    color: #191919;
}

.formulario__grupo-input {
    display: relative;
}

.formulario__input {
    width: 255px;
    height: 45px;
    background: #FFFFFF;
    left: 307px;
    top: 598.47px;
    border: 1px solid #999999;
    border-radius: 8px;
}

.formulario__validacion-estado {
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__mensaje {
    display: none;
    padding: 15px;
    border-radius: 5px;
    background: #f00;
    text-align: center;
    margin-top: 30px;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: #FF3D00;
    color: #fff;
    border: none;
    border-radius: 22.5px;
    cursor: pointer;
    width: 255px;
    height: 45px;
    left: 877px;
    top: 823.47px;
    margin-top: 30px;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #29ee0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;
    
}

/* -------------------------------------------- LISTA FORMULARIO  --------------------------------------*/
  
  td {
    width: 150px;
  }

  th {
    width: 135px;
  }

.encabezado{
    font-family: 'Barlow';
    font-style: normal;
    color: #191919;
}

.tabla{
    position: absolute;
    margin-top: 30px;
    margin-right: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #191919;
}

/* -------------------------------------------- RESPONSIVE  --------------------------------------*/

@media screen and (max-width:720px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}